* {
    margin: 3px;
    padding: 1px;
}
:root {
    --color1: #F2EAE7;
    --color2: #B7735A;
    --color3: #5D7B71;
    --color4: #478B74;
    --color5: #172822;
    --markcol: #D4B16A;
}

a {
    transition: color 0.3s ease;
}

a:hover {
    color: var(--color2);
}

ul {
    font-size: 14px;
    padding-left: 10px;
    list-style-type: square;
}

body {
    background-color: var(--color1);
    font-family: Arial, Helvetica, sans-serif;
    border-style: groove;
    border-color: var(--color3);
    border-width: 5px;
}

p, li, span, strong {
    color: var(--color5);
}
.center {
    text-align: center;
}

p {
    margin: 10px 4px;
}

hr {
    border: none;
    border-top: 2px solid;
}

.separator {
    font-family: monospace;
    font-weight: 300;
    display: inline-block;
    transform: rotate(10deg);
    margin: 0 5px;
    user-select: none;
}

h1, h2, a, caption {
    color: var(--color4);
}

h3, h4, .separator, hr {
    color: var(--color3)

}

article ul li {
    margin: 0px 0px;
}

#phone {
    font-style: normal;
}
.title {
    color: var(--color3);
    margin-top: 10px;
    font-weight: bold;
    font-variant: small-caps;
}

.sparkle {
    position: fixed;
    pointer-events: none;
    width: 6px;
    height: 6px;
    background-color: var(--color2);
    border-radius: 50%;
    animation: sparkle-fade 0.8s forwards;
    z-index: 9999;
}

@keyframes sparkle-fade {
    0% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
    100% {
        transform: scale(0) translateY(-20px);
        opacity: 0;
    }
}

mark {
    background-color: var(--markcol);
}

table, th, td {
    border: 2px solid var(--color2);
}

.table-container {
    width: 90%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

th, td {
    padding: 5px;
    text-align: center;
}

th {
    font-variant: small-caps;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 75%;
}

caption {
    font-weight: 700;
    font-size: 24px;
}

.blank-header {
    background-color: #B7735A;
    color: #5D7B71;
    position: relative;
    overflow: hidden;
}

.blank-header::after {
    content: "~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ";
    position: absolute;
    left: 0%;
    top: -50%;
    opacity: 75%;
}

nav {
    margin-bottom: 20px;
}

.temp-pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 35%;
    height: auto;
}

.letter-p {
    text-indent: 2em;
}
